body {
    margin: 0;
}
header {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 10vh 0;
    background-color: #45ef6a;
}
.ataraxia-text {
    font-family: 'Helvetica', sans-serif;
    color: #2A2A2A;
    font-weight: 200;
}
.ataraxia-logo {
    font-family: 'GFS-Didot', serif;
}
.content-wrapper {
    margin: 0 auto;
    width: 100%;
}
.postlist-wrapper {
    margin: 0 auto;
    width: 90%;

}
.post-wrapper {
    margin: 0 auto;
    width: 98%;

    padding-bottom: 48px;
}
.post-title-wrapper {
    margin: 0 auto;
    width: 100;
}
.post-title {
    font-size: 4.3em;

    font-weight: 200;
}

.post-info-wrapper {
    margin: 0 auto;
    padding-left: 24px;
    width: 70%;
    display: inline-flex;

}
.post-author {
    display: flex;
}
.post-date {
    display: flex;
}
.post-content-wrapper {
    margin: 0 auto;
    width: 98%;

}
