.cue-logo {
	font-family: 'Lato';
	font-weight: 800;
	color: #5555ff;
  text-shadow: 2px 2px #ffff00;
}

.cue-text {
	font-family: 'Lato';
	font-weight: 100;
  color: #451571;
  font-size: 3.4em;
  text-align: left;
}

.header-text {
  padding: 50px 4px 12px 12px;
  font-weight: 200;
}

.body-text {
  display: flex;
  font-family: 'Cardo';
  font-size: 1.4em;
  justify-content: flex-start;
  padding: 30px 12px 30px 20px;
  color: #451571;
  line-height: 1.5em;
}

.cue-gradient0 {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #451571, #945EC7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #451571, #945EC7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #451571, #945EC7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #451571, #945EC7); /* Standard syntax */
  width: 100%;
  -webkit-filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, .6));
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, .6));
}

.cue-gradient1 {

}

.strikethrough {
  text-decoration-line: overline;
}

.cue-app-container {
  /*width: 92%;
  margin-top: -35%;
  padding-left: 8%;*/
}
.text-container {
  /*height: 600px;*/
  width: 100%;
}

.text-container p {
  padding-left: 10%;
}

.cue-button {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .35s ease 0s;
  -moz-transition: all .35s ease 0s;
  -o-transition: all .35s ease 0s;
  transition: all .35s ease 0s;
}

.cue-inline-link {
  text-decoration: none;
}

a:visited {
  color: #5555ff;
}

.cue-inline-link :hover {
  background-color: #5555ff;
}

.cue-inline-link a:visited,
.cue-inline-link a:hover,
.cue-inline-link a:active {
  color: #5555ff;
}

.ataraxia-inline-logo {
  font-family: 'GFS Didot';
  font-size: 1.1em;
}