{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='cue.css') }}"/>
{% endblock %}

{% block top %}
<div class="nav-horizontal">
    {% for item in items %}
    <div class="nav-horizontal-item-centered"><h1 class="simple-link-button"><a href="{{ item.url }}">{{ item.label }}</a></h1></div>
    {% endfor %}
</div>
{% endblock %}

{% block mid %}
<div class="list-vertical">
    <h1 class="cue-text list-vertical-item">contact@cue.zone</h1>
</div>
{% endblock %}

