{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='cue.css') }}"/>
{% endblock %}

{% block logo %}
<div class="cue-gradient0">
<div class="logo">
    <h1 class="cue-logo">CUE</h1>
</div>
</div>
{% endblock %}

{% block mid %}
<div class="nav-horizontal">
{% for button in buttons %}
    <div class="nav-horizontal-item-centered">
    <h1 class="simple-link-button"><a href="{{  button.url }}">{{ button.label }}</a></h1>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block body %}
<div class="text-container">
    <h2 class="header-text cue-text">Currently spinning</h2>
    <p class="body-text"></p>
</div>
<div class="cue-app-container">
    <iframe src="https://open.spotify.com/embed?uri=spotify:user:1236187489:playlist:7rgDvI6r0igz4Qt7kuppoq" width="600" height="760" frameborder="0" allowtransparency="true"></iframe>
</div>

{% endblock %}

{% block bottom %}
<div class="nav-horizontal footer-nav">
    {% for item in footer.middle %}
    <div class="nav-horizontal-middle-item"><a href="{{ item.url }}"><h1 class="simple-link-button">{{ item.label }}</h1></a></div>
    {% endfor %}
</div>
{% endblock %}
