{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='cue.css') }}"/>
{% endblock %}

{% block logo %}
<div class="cue-gradient0">
<div class="logo">
    <h1 class="cue-logo">CUE</h1>
</div>
</div>
{% endblock %}

{% block mid %}
<div class="nav-horizontal">
{% for button in buttons %}
    <div class="nav-horizontal-item-centered">
    <h1 class="simple-link-button"><a href="{{  button.url }}">{{ button.label }}</a></h1>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block body %}
<div class="list-vertical">
    <div class="list-vertical-item cue-app-container"></div>
</div>
{% endblock %}

{% block bottom %}
<div class="nav-horizontal footer-nav">
    {% for item in footer.middle %}
    <div class="nav-horizontal-middle-item"><a href="{{ item.url }}"><h1 class="simple-link-button">{{ item.label }}</h1></a></div>
    {% endfor %}
</div>
{% endblock %}
