{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='cue.css') }}"/>
{% endblock %}

{% block logo %}
<div class="cue-gradient0">
<div class="logo">
    <h1 class="cue-logo">CUE</h1>
</div>
</div>
{% endblock %}

{% block mid %}
<div class="nav-horizontal">
{% for button in buttons %}
    <div class="nav-horizontal-item-centered">
    <h1 class="simple-link-button"><a href="{{  button.url }}">{{ button.label }}</a></h1>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block body %}
<div class="text-container">
    <h2 class="header-text cue-text">Not yet playing</h2>
    <p class="body-text">Cue is presently in development. An initial, feature-sparse alpha release is intended for late 2017. The product is undergoing constant ideation and the codebase is subject to refactoring on short notice.</p>
    <h2 class="header-text cue-text">The state of the art</h2>
    <p class="body-text">The end of 2017 is upon us; what can be said about the music consumption experience broadly? The ubiquitous iPhone dropped the ubiquitous AUX port more than one year ago, adless content  will cost you $4.99 to $14.99 a month, and artists align with labels to promote themselves and consumer brands. Audiophiles have access to fresh vinyl releases from major and independent labels alike, and seemingly all corner stores carry cheap earbuds. Cloud streaming displaced personal libraries once constrained by the physical (boxes of LPs) and the virtual (single-digit GBs)</p>
    <p class="body-text">Despite innovations in access, quantity and quality, the music playback experience is far from ideal for every setting. There is room for improvements.</p>
    <h2 class="header-text cue-text">Stay tuned</h2>
    <p class="body-text">Cue is a shared play queue. The app provides a thin interface between end users and Spotify, allowing many users to contribute song requests to a single dynamic play queue. I'll let you know when it's done.</p>
    <h2 class="header-text cue-text">Playlist of the Week</h2>
    <br><br>
</div>
<div class="cue-app-container">
    <iframe src="https://open.spotify.com/embed?uri=spotify:user:1236187489:playlist:7rgDvI6r0igz4Qt7kuppoq" width="500" height="1700" frameborder="0" allowtransparency="false"></iframe>
</div>

{% endblock %}

{% block bottom %}
<div class="nav-horizontal footer-nav">
    {% for item in footer.middle %}
    <div class="nav-horizontal-middle-item"><a href="{{ item.url }}"><h1 class="simple-link-button">{{ item.label }}</h1></a></div>
    {% endfor %}
</div>
{% endblock %}
