{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='cue.css') }}"/>
{% endblock %}

{% block top %}
<div class="nav-horizontal">
    {% for item in items %}
    <div class="nav-horizontal-item-centered"><h1 class="simple-link-button"><a href="{{ item.url }}">{{ item.label }}</a></h1></div>
    {% endfor %}
</div>
{% endblock %}

{% block logo %}
<div class="cue-gradient0">
<div class="logo">
    <h1 class="cue-logo">CUE</h1>
</div>
</div>
{% endblock %}

{% block body %}
<div class="text-container">
    <br><br>
    <h1 class="header-text cue-text">What is Cue?</h1>
    <p class="body-text">Cue creates and manages a shared play queue. It is currently in development.</p>
    <br><br>
    <h1 class="header-text cue-text">More information</h1>
    <p class="body-text">Contact Leland Later via <br><br> <a href="https://ataraxia.io/contact" class="cue-inline-link ataraxia-inline-logo">&#x3AC;&#x3C4;&#x3B1;&#x3C1;&#x3B1;&#x3BE;&#x3AF;&#x3B1;</a></p>
<div>
{% endblock %}

